<div class="row">
  <div class="col-md-9">
    <h4>
      <a>{{ room.name }}</a>
    </h4>
    <p>
      <i class="fa fa-user" aria-hidden="true" title="房主">&nbsp;{{ room.ownerName }}</i>
      <i class="fa fa-clock-o"
         aria-hidden="true"
         title="{{ room.createTime | date:'yyyy年MM月dd日 HH:mm' }}创建">&nbsp;{{ room.createTime | date:'MM-dd HH:mm' }}</i>
    </p>
  </div>
  <div class="col-md-3">
    <app-progress-bar
      [currentUsers]="room.currentUsers"
      [maxUsers]="room.maxUsers">
    </app-progress-bar>
  </div>
</div>
