.img-circle {
  width: 40px;
  height: 40px;
}
p{
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 10px;
  margin-bottom: 0;
}
.owner{
  color: rgb(59, 192, 255);
}
.online{
  color: #70ed3a;
}
.offline{
  color: #bbbbbb;
}
.dropdown-menu {
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
  padding: 0;
}
.dropdown-menu > li > a {
  margin: 4px;
}
