<form [formGroup]="profileForm"
      class="form-user">
  <h2>账号设置</h2>
  <div class="well">
    <div class="avatar">
      <img src="{{avatarURL}}">
      <a (click)="file.click()">更换头像</a>
      <input #file type="file" accept="image/jpeg,image/jpg,image/png"
             (change)="updateAvatar(file)">
    </div>
    <div>
      <h3>{{payload.unique_name}}</h3>
      <small>
        注册时间：{{registrationTime | async}}
      </small>
    </div>
  </div>
  <div class="form-group"
       [ngClass]="{ 'has-error': formErrorMessages['newPassword'] }">
    <input type="password"
           class="form-control"
           placeholder="请输入新密码"
           maxlength="128"
           autocomplete="off"
           appTextTrim
           [formControl]="profileForm.controls['newPassword']"
           (blur)="validateNewPassword(profileForm.controls['newPassword'])"
           (keydown.enter)="updatePasswordByPressingEnter($event)">
    <span class="help-block">{{ formErrorMessages['newPassword'] || "不少于6位" }}</span>
  </div>
  <div class="form-group"
       [ngClass]="{ 'has-error': formErrorMessages['confirmNewPassword'] }">
    <input type="password"
           class="form-control"
           placeholder="请确认新密码"
           maxlength="128"
           autocomplete="off"
           appTextTrim
           [formControl]="profileForm.controls['confirmNewPassword']"
           (keydown.enter)="updatePasswordByPressingEnter($event)">
    <span *ngIf="formErrorMessages['confirmNewPassword']" class="help-block">
      {{ formErrorMessages['confirmNewPassword'] }}
    </span>
  </div>
  <input type="button"
         class="btn btn-lg btn-primary btn-block"
         value="更新密码"
         (click)="updatePassword(profileForm.value)">
</form>
