ul{
  margin-bottom: 0;
  margin-left: 0;
  overflow: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
.member-list{
  position: fixed;
  background-color: white;
  z-index: 10;
  margin-top: -15px;
  padding-top: 10px;
  border-bottom: 1px solid #eee;
  display: none;
}
.member-list *{
  cursor: pointer;
}
/*这里重写了关键帧*/
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-70%);
    transform: translateY(-70%);
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(-70%);
    transform: translateY(-70%);
  }
}
