<form [formGroup]="registerForm"
      class="form-user animated bounceInRight">
  <h2 class="form-user-heading">用户注册</h2>
  <div class="form-group"
       [ngClass]="{ 'has-error': formErrorMessages['username'] }">
    <input type="text"
           class="form-control"
           placeholder="请输入用户名"
           maxlength="10"
           autocomplete="off"
           appTextTrim
           formControlName="username"
           (blur)="validateUsername(registerForm.controls['username'])"
           (keydown.enter)="registerByPressingEnter($event)">
    <span class="help-block">{{ formErrorMessages['username'] || "中日英文均可，最长10个字符" }}</span>
  </div>
  <div class="form-group"
       [ngClass]="{ 'has-error': formErrorMessages['password'] }">
    <input type="password"
           class="form-control"
           placeholder="请输入密码"
           maxlength="128"
           autocomplete="off"
           appTextTrim
           formControlName="password"
           (blur)="validatePassword(registerForm.controls['password'])"
           (keydown.enter)="registerByPressingEnter($event)">
    <span class="help-block">{{ formErrorMessages['password'] || "不少于6位" }}</span>
  </div>
  <div class="form-group"
       [ngClass]="{ 'has-error': formErrorMessages['confirmPassword'] }">
    <input type="password"
           class="form-control"
           placeholder="请确认密码"
           maxlength="128"
           autocomplete="off"
           appTextTrim
           formControlName="confirmPassword"
           (blur)="validateRequired('confirmPassword')"
           (keydown.enter)="registerByPressingEnter($event)">
    <span *ngIf="formErrorMessages['confirmPassword']"
          class="help-block">{{ formErrorMessages['confirmPassword'] }}</span>
  </div>
  <div class="form-group"
       [ngClass]="{ 'has-error': formErrorMessages['captcha'] }">
    <div class="input-group">
      <input type="text"
             class="form-control"
             placeholder="请输入验证码"
             maxlength="4"
             autocomplete="off"
             appTextTrim
             formControlName="captcha"
             (blur)="validateRequired('captcha')"
             (keydown.enter)="registerByPressingEnter($event)">
      <span class="input-group-addon captcha" *ngIf="captchaUrl">
        <img src="{{captchaUrl}}" (click)="refreshCaptcha()">
      </span>
    </div>
    <span class="help-block">{{ formErrorMessages['captcha'] || '不区分大小写，点击图片刷新' }}</span>
  </div>
  <input type="button"
         class="btn btn-lg btn-primary btn-block"
         value="注册"
         (click)="register(registerForm.value)">
</form>
