<form [formGroup]="registerForm"
      class="form-user">
  <h2 class="form-user-heading">用户注册</h2>
  <div class="form-group"
       [ngClass]="{ 'has-error': formErrorMessages['username'] }">
    <input type="text"
           class="form-control"
           placeholder="请输入用户名"
           maxlength="10"
           autocomplete="off"
           appTextTrim
           [formControl]="registerForm.controls['username']"
           (blur)="validateUsername(registerForm.controls['username'])"
           (blur)="validateRequired('username')">
    <span class="help-block">{{ formErrorMessages['username'] || "中英文均可，最长10个字符" }}</span>
  </div>
  <div class="form-group"
       [ngClass]="{ 'has-error': formErrorMessages['password'] }">
    <input type="password"
           class="form-control"
           placeholder="请输入密码"
           maxlength="128"
           autocomplete="off"
           appTextTrim
           [formControl]="registerForm.controls['password']"
           (blur)="validatePassword(registerForm.controls['password'])"
           (blur)="validateRequired('password')">
    <span class="help-block">{{ formErrorMessages['password'] || "不少于6位" }}</span>
  </div>
  <div class="form-group"
       [ngClass]="{ 'has-error': formErrorMessages['confirmPassword'] }">
    <input type="password"
           class="form-control"
           placeholder="请确认密码"
           maxlength="128"
           autocomplete="off"
           appTextTrim
           [formControl]="registerForm.controls['confirmPassword']"
           (blur)="validateRequired('confirmPassword')">
    <span *ngIf="formErrorMessages['confirmPassword']" class="help-block">
      {{ formErrorMessages['confirmPassword'] }}
    </span>
  </div>
  <input type="button"
         class="btn btn-lg btn-primary btn-block"
         value="注册"
         (click)="register(registerForm.value)">
</form>
