<form>
  <div class="row">
    <div class="col-md-10 col-sm-9">
      <div class="input-group">
        <input class="form-control"
               type="text"
               placeholder="请输入关键词"
               appTextTrim
               [(ngModel)]="keyword" name="keyword"/>
        <span class="input-group-btn">
          <button class="btn btn-default"
                  type="button"
                  (click)="search()">
            <i class="fa fa-search" aria-hidden="true"></i>&nbsp;检索
          </button>
          </span>
      </div>
    </div>
    <div class="col-md-2 col-sm-3">
      <button class="btn btn-success btn-create pull-right"
              type="button"
              (click)="create()">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;创建房间
      </button>
    </div>
  </div>
</form>
<div class="row room-list">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let room of roomList">
        <app-chat-room-list-item [room]="room"></app-chat-room-list-item>
      </li>
    </ul>
  </div>
</div>
