<form>
  <div class="row">
    <div class="col-md-10 col-sm-9">
      <div class="input-group">
        <input class="form-control"
               type="text"
               placeholder="请输入关键词"
               appTextTrim
               [(ngModel)]="keyword"
               name="keyword">
        <span class="input-group-btn">
          <button class="btn btn-default"
                  type="button"
                  (click)="refresh()">
            <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;刷新
          </button>
        </span>
      </div>
    </div>
    <div class="col-md-2 col-sm-3">
      <button class="btn btn-success btn-create pull-right"
              type="button"
              (click)="create()">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;创建房间
      </button>
    </div>
  </div>
</form>
<div class="row room-list">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let room of roomList">
        <app-chat-room-list-item
          [room]="room"
          (failedToJoinTheRoom)="onFailedToJoinTheRoom()">
        </app-chat-room-list-item>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <pagination class="pagination-md"
                  *ngIf="roomList && roomList.length"
                  firstText="首页"
                  lastText="末页"
                  previousText="上一页"
                  nextText="下一页"
                  rotate="true"
                  [totalItems]="pagination.totalItems"
                  [ngModel]="pagination.currentPage"
                  [maxSize]="8"
                  [boundaryLinks]="true"
                  (pageChanged)="onPageChanged($event)">
      </pagination>
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert"
         *ngIf="roomList === null">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      没有找到符合关键词的房间
    </div>
  </div>
</div>
