/* You can add global styles to this file, and also import other style files */
.form-user {
  max-width: 300px;
  margin: 0 auto;
}

.form-user .form-control {
  position: relative;
  height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

p, .checkbox label {
  color: #808080;
  font-size: 15px;
}

/*垂直居中*/
.checkbox label::before,
.checkbox label:not([for=rememberMe])::after{
  top: 50%;
  transform: translateY(-50%);
}

/*避免使用swal的时候，底部位置偏移*/
.swal2-iosfix {
  position: static!important;
}

a {
  cursor:pointer;
}

html {
  min-height: 100%;
  position: relative;
  padding-bottom: 50px;
}

/*避免过度动画时出现横向滚动条*/
body {
  overflow-x: hidden;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.picture-modal-dialog {
  display: none;
  margin: auto;
}

/*过场动画速度控制*/
.animated.fadeInRight,
.animated.fadeInDown,
.animated.fadeOutUp,
.animated.zoomIn{
  animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}
