<div class="msg-container" [ngClass]="{history: message.isChatHistory}">
  <div *ngIf="!message.isSystemMessage" [style.text-align]="position">
    <div [ngClass]="['pull-' + position]">
      <img alt="image" class="img-circle" src="/api/resources/avatars/thumbnails/{{message.userId}}">
    </div>
    <p *ngIf="message.incoming" class="author-name">{{ message.username }}</p>
    <div class="bubble" [ngClass]="[position]">
      <div class="bubble-content">
        <pre>{{ message.text }}</pre>
      </div>
    </div>
  </div>
  <div *ngIf="message.isSystemMessage"
       class="system-message">
    <pre>{{ message.text }}</pre>
  </div>
  <div *ngIf="message.timestamp"
       class="time">
    <P>{{ message.timestamp | date: 'yyyy/MM/dd HH:mm:ss'}}</P>
  </div>
</div>
