<!-- 顶部导航 -->
<nav class="navbar navbar-fixed-top main-nav">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              #btnToggle>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">聊天室</a>
    </div>
    <div class="navbar-collapse collapse"
         role="navigation"
         #navigation
         aria-expanded="false"
         (click)="slideUp(navigation.getAttribute('aria-expanded'), btnToggle)">
      <ul class="nav navbar-nav navbar-right"
          *ngIf="!isLoggedIn">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="./login">登录</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="./register">注册</a>
        </li>
        <li *ngIf="inTheRoom">
          <a (click)="backToLobby()">返回大厅</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn">
        <li *ngIf="currentPath === '/rooms'">
          <a routerLink="./profile">账号设置</a>
        </li>
        <li *ngIf="currentPath !== '/rooms'">
          <a (click)="backToLobby()">返回大厅</a>
        </li>
        <li>
          <a (click)="logout()">退出</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- 主体内容区域 -->
<div class="container main-container" (click)="slideUp(navigation.getAttribute('aria-expanded'), btnToggle)">
  <router-outlet></router-outlet>
</div>
<!-- 底部区域 -->
<div class="footer">
  <div class="container">
    <div class="row">
      <p>
        Powered by <a href="https://github.com/blurhkh/DRRR" target="_blank">blurhkh</a>
      </p>
    </div>
  </div>
</div>
