.panel-heading, .panel-footer {
  background: #ffffff;
}
.panel-container{
  max-width: 800px;
  margin: 0 auto;
}
.msg-container-base {
  margin: 0;
  padding-right: 5px;
  padding-left: 5px;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .msg-container-base{
    padding-right: 10px!important;
    padding-left: 10px!important;
  }
}
.msg-container-base::-webkit-scrollbar-track
{
  background-color: rgb(255, 255, 255);
}
.msg-container-base::-webkit-scrollbar
{
  width: 2px;
}
.msg-container-base::-webkit-scrollbar-thumb
{
  border-radius: 1px;
  background-color: #aeadaa;
  opacity: 0.5;
}
.btn.btn-block:focus{
  outline:none
}
.panel-default {
  margin-bottom: 15px;
}
.msg-container-base div:nth-of-type(1){
  height: 35px;
}
