<div class="panel-container">
  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="panel-title-container">
        <h3 class="panel-title">
          <span class="fa fa-comments-o"></span>
          <!--Chat - {{currentThread.name}}-->
        </h3>
      </div>
    </div>

    <div class="panel-body msg-container-base" [style.height]="height">
      <app-chat-message
        *ngFor="let message of messages | async"
        [message]="message">
      </app-chat-message>
    </div>

    <div class="panel-footer">
      <div class="input-group">
        <input class="form-control"
               type="text" #msg
               maxlength="200"
               (keydown.enter)="sendMessage(msg)">
        <span class="input-group-btn">
              <button class="btn btn-primary"
                      type="button"
                      (click)="sendMessage(msg)">
                发送
              </button>
            </span>
      </div>
    </div>

  </div>
</div>
