<div class="panel-container">
  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="panel-title-container">
        <h3 class="panel-title">
          <i class="fa fa-comments-o"></i>
          &nbsp;{{(initialDto | async)?.roomName}}
          <p class="pull-right" (click)="showOrHideMemberList()">
            {{onlineUsers}}/{{(memberList | async)?.length}} 人在线&nbsp;
            <i class="fa fa-chevron-{{ isMemberListVisible ? 'up' : 'down' }}"></i>
          </p>
        </h3>
      </div>
    </div>

    <div class="panel-body msg-container-base">
      <app-chat-room-member-list
        [list]="memberList | async"
        [ownerId]="(initialDto | async)?.ownerId"
        (memberRemoved)="onMemberRemoved($event)">
      </app-chat-room-member-list>
      <div>
        <button class="btn btn-link btn-block"
                (click)="showMoreChatHistory()"
                *ngIf="!noMoreMessage">
          <i class="fa fa-arrow-up">&nbsp;查看更多消息</i>
        </button>
        <p *ngIf="noMoreMessage" class="text-center">没有更多消息</p>
      </div>
      <app-chat-message
        *ngFor="let message of chatHistory | async"
        [message]="message">
      </app-chat-message>
      <app-chat-message
        *ngFor="let message of messages | async"
        [message]="message">
      </app-chat-message>
      <app-chat-preview-message
        *ngIf="lastMessage && !fixedAtBottom"
        [message]="lastMessage">
      </app-chat-preview-message>
    </div>

    <div class="panel-footer">
      <input class="form-control"
             type="text" #msg
             maxlength="200"
             placeholder="按Enter键发送消息"
             (focus)="onLostFocus()"
             (keydown.enter)="sendMessage(msg)">
    </div>

  </div>
</div>
