.panel-heading, .panel-footer {
  background: #ffffff;
}
.panel-container {
  max-width: 800px;
  margin: 0 auto;
}
.msg-container-base {
  margin: 0;
  padding-right: 5px;
  padding-left: 5px;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .msg-container-base {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.btn.btn-block:focus{
  outline:none
}
.panel-default {
  margin-bottom: 15px;
}
.msg-container-top {
  height: 35px;
}
.panel-title p{
  cursor: pointer;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
input[type="file"]{
  display: none;
}
